.week {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px;
    margin: 2px;
}
.day {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
}
.hour {

    background-color: lightyellow;
    padding: 4px;
    margin: 2px;
}
.dayheader {
    background-color: lightslategrey;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3px;
}
.horizontal{
    font-weight: bold;
    writing-mode: vertical-rl !important;
    text-orientation: upright !important;


}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}